image: node:20

stages:
  - install
  - lint
  - test

cache:
  paths:
    - node_modules/

before_script:
  - npm ci
  - npx playwright install --with-deps

install:
  stage: install
  script:
    - npm ci

lint:
  stage: lint
  script:
    - npm run lint
    - npm run format:check

test:api:
  stage: test
  script:
    - npm run test:api
  artifacts:
    when: always
    paths:
      - playwright-report/
    expire_in: 1 week

test:ui:
  stage: test
  script:
    - npm run test:ui
  artifacts:
    when: always
    paths:
      - playwright-report/
    expire_in: 1 week
